---
---
/*-----------------------------------------------------------------------------------*/
/* IMPORTS
/*-----------------------------------------------------------------------------------*/

// Custom fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:700|Nunito:300,700&display=swap');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css');

// Variable overrides and custom variables
@import "_variables";

// Bootstrap
@import "_bootstrap";

/*-----------------------------------------------------------------------------------*/
/* CUSTOM STYLING
/*-----------------------------------------------------------------------------------*/

html, body {
  width: 100%;
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  letter-spacing: 1px;
}

a {
  font-weight: 700;
  /*transition: color .215s ease-in-out;*/
}

mark {
  background-color: lighten($brand-primary, 22%);
}

// Classes, components, sections
@import "custom/_classes";
@import "custom/_components";
@import "custom/_sections";