---
---
/*-----------------------------------------------------------------------------------*/
/* IMPORTS
/*-----------------------------------------------------------------------------------*/

// Custom fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:700|Nunito:400,700&display=swap');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css');

/*-----------------------------------------------------------------------------------*/
/* VARIABLES
/*-----------------------------------------------------------------------------------*/
$brand-primary: #fb3f60;
$grayish: #645e60;

$base-font-family: 'Nunito', Helvetica, Arial, sans-serif;
$headings-font-family: 'Montserrat', Helvetica, Arial, sans-serif;

$font-size-base: 1rem;
$font-size-large: 3rem;
$font-size-small: 0.75rem;
$font-size-h1: 2rem;
$font-size-h2: 1.75rem;
$font-size-h3: 1.5rem;
$font-size-h4: 1.25rem;
$font-size-h5: 1.125rem;
$font-size-h6: $font-size-base;

/*-----------------------------------------------------------------------------------*/
/* RE-USABLE CLASSES AND MIXINS
/*-----------------------------------------------------------------------------------*/
.headings-font {
  font-family: $headings-font-family;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/*-----------------------------------------------------------------------------------*/
/* CUSTOM STYLING
/*-----------------------------------------------------------------------------------*/

body {
  font-family: $base-font-family;
  color: $grayish;
}

h1, h2, h3, h4, h5, h6 {
  @extend .headings-font;
  margin-bottom: 1rem;
}

h1 { font-size: $font-size-h1; }
h2 { font-size: $font-size-h2; }
h3 { font-size: $font-size-h3; }
h4 { font-size: $font-size-h4; }
h5 { font-size: $font-size-h5; }
h6 { font-size: $font-size-h6; }

a {
  color: $grayish;
  font-weight: 700;
  transition: color .215s ease-in-out;

  &:hover {
    color: darken($grayish, 100%);
    text-decoration: none;
  }
}

mark {
  background-color: lighten($brand-primary, 30%);
}

.lead {
  @extend .headings-font;
}
.badge-primary {
  background-color: $brand-primary;
}

/*
==============================

  NAVBAR

==============================
*/
.navbar {
  transition: background .5s ease-in-out, padding .5s ease-in-out;
  padding: 1.5rem 1rem;
}
.nav-link, .dropdown-item {
  @extend .headings-font;
  font-size: $font-size-small;
}
.top-nav-collapse {
  padding: .5rem 1rem;
  background-color: white;
  border-bottom: 1px solid #CAD4DD;

  .navbar-nav .active .nav-link { color: $brand-primary; }
}

/*
==============================

  DROPDOWNS

==============================
*/

.dropdown-item {
  &.active {
    background-color: $brand-primary;
  }
  &:active {
    background-color: inherit;
    color: inherit;
  }
}

/*
==============================

  BUTTONS

==============================
*/
.btn {
  @extend .headings-font;
  font-size: ($font-size-base - .2rem);
  transition: all .3s ease-in-out;
}
.btn-primary {
  background-color: $brand-primary;
  border-color: $brand-primary;

  &:hover {
    background-color: white;
    color: $brand-primary;
    border-color: $brand-primary;
  }
}

/*
==============================

  BREADCRUMBS

==============================
*/
.breadcrumb {
  background-color: transparent;
  margin-bottom: 0;

  li {
    @extend .headings-font;
    font-size: $font-size-small;

    &.active { color: $brand-primary; }
  }
}
.breadcrumb-item + .breadcrumb-item::before {
  color: #ccc;
}

/*
==============================

  GRID AREAS

==============================
*/
.grid-area {
  h4 { font-size: $font-size-h6; }

  .card {
    transition: background .3s ease-in-out;

    &:hover {
      background-color: $grayish;
      color: white;

      a, .caption { color: white; }

      .hover { opacity: 1; }
    }
  }

  @media screen and (min-width: 768px) {
    .item:nth-child(4n+1) { clear: left; }
  }
  @media screen and (max-width: 767px) {
    .item:nth-child(2n+1) { clear: left; }
  }
}

/*
==============================

  ITEM

==============================
*/
.card-img-wrap {
  position: relative;

  .hover {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity .3s ease-in-out;

    a {
      display: block;
      height: 100%;
      width: 100%;
      background-color: transparentize($grayish, .2);
    }
  }

  &:hover .hover {
    opacity: 1;
  }

  .block {
    position: absolute;
    width: 100%;
    z-index: 4;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    -webkit-backface-visibility: hidden;

    i {
      color: white;
      font-size: $font-size-h2;
    }
  }
}


/*
==============================

  SCROLL

==============================
*/
.btn-scroll {
  font-size: $font-size-large;

  i.animated { animation: pulse ease-in-out .3s infinite; }
}
@keyframes pulse {
  0% { opacity: 1; }
  50% { opacity: .1; }
  100% { opacity: 1; }
}

/*
==============================

  TIMELINE

==============================
*/
.timeline {
  position: relative;

  &::before {
    /* this is the vertical line */
    content: '';
    position: absolute;
    top: 0;
    left: 42px;
    height: 100%;
    width: 2px;
    background: rgba(0,0,0,0.06);
  }
}
.timeline-block {
  position: relative;
  margin: 1.5rem 0;
  *zoom: 1;

  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after { clear: both; }

  &:first-child { margin-top: 0; }
  &:last-child { margin-bottom: 0; }
}
.timeline-img {
  position: absolute;
  top: 0;
  left: 16px;
  width: 86px;
  height: 86px;

  &.round {
    left: 0;

    img { border-radius: 50%; }
  }
  img { display: inline; }
}
.timeline-content {
  position: relative;
  margin-left: 120px;
  background-color: white;
  padding: 15px;
  *zoom: 1;

  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after { clear: both; }

  &::before {
    content: '';
    position: absolute;
    top: 16px;
    right: 100%;
    height: 0;
    width: 0;
    border: 10px solid transparent;
    border-right: 10px solid white;
  }

  h4 {
    margin-bottom: 3px;
    font-size: $font-size-h6;
  }

  .time {
    display: inline-block;
    float: left;
    padding: 0;
  }
}

@media screen and (min-width: 768px) {
  .timeline {
    &::before {
      left: 50%;
      margin-left: -2px;
    }
  }
  .timeline-block {
    margin: 2rem 0;

    &:first-child { margin-top: 0; }
    &:last-child { margin-bottom: 0; }

    &:nth-child(even) .timeline-content {
      float: right;

      &::before {
        top: 24px;
        left: auto;
        right: 100%;
        border-color: transparent;
        border-right-color: white;
      }
      .time {
        left: auto;
        right: 130%;
        text-align: right;
      }
    }
  }
  .timeline-img {
    width: 86px;
    height: 86px;
    left: 50%;
    margin-left: -46px;
    margin-top: 5px;
    text-align: center;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ();
    -webkit-backface-visibility: hidden;

    &.round {
      left: 50%;
      margin-left: -44px;
      margin-top: -9px;
    }
  }
  .timeline-content {
    margin-left: 0;
    width: 44%;
    padding: 20px 25px 5px 25px;

    &::before {
      top: 24px;
      left: 100%;
      border-color: transparent;
      border-left-color: white;
    }

    .time {
      position: absolute;
      width: 100%;
      left: 130%;
      top: 10px;
    }
  }
}


/*
==============================

  MASTHEAD

==============================
*/
#masthead {
  background: black url('../images/header.jpg') no-repeat center scroll;
  background-size: cover;
  color: white;

  .row { height: 50vh; }
  &.full .row { height: 100vh; }

  h1 { font-size: $font-size-large; }

  .btn-scroll { color: white; }
}


/*
==============================

  MAIN

==============================
*/
#main {
  background-color: darken(white, 5%);
}

#intro .lead {
  font-size: $font-size-h2;

  @media screen and (max-width: 575px) {
    font-size: $font-size-h4;
  }
}

/*
==============================

  FOOTER

==============================
*/
footer {
  p, ul.list-inline {
    margin: 0;
    padding: 0;
  }

  .copyright {
    @extend .headings-font;
    font-size: $font-size-small;
  }
}
@media screen and (max-width: 767px) {
  footer {
    text-align: center;

    .social-media { padding-top: 10px; }
  }
}
@media screen and (min-width: 768px) {
  footer {
    .social-media { text-align: right; }
  }
}

/*
==============================

  BACK TO TOP

==============================
*/
#back-to-top {
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: $grayish;
  color: white;
  z-index: 99;
  display: none;
  transition: background .3s ease-in-out;

  &:hover { background-color: $brand-primary; }

  i {
    font-size: $font-size-h1;
    padding: 15px 20px 20px;
    cursor: pointer;
  }
}


/*
==============================

  CONTACT FORM

==============================
*/
#contactform {
  label {
    font-size: $font-size-small;
    @extend .headings-font;
  }

  @media screen and (min-width: 575px) {
    form label { text-align: right; }
  }
}