/*-----------------------------------------------------------------------------------*/
/* SECTIONS
/*-----------------------------------------------------------------------------------*/

/*
==============================

  MASTHEAD

==============================
*/
#masthead {
  display: table;
  width: 100%;
  height: 50%;
  background: #e6e7f3 url('../images/header.jpg') no-repeat top center scroll;
  background-size: cover;

  &.full { height: 100%; }

  .inner {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }

  h1 {
    display: inline-block;
    font-size: $font-size-large - 5;
    color: fade($grayish, 75%);
  }
  p {
    font-size: $font-size-base - 2;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin: 0 0 0 3px;
    font-weight: 700;
    color: fade($grayish, 75%);
  }
  .line {
    margin: 8px auto 18px;
    width: 45px;
  }

  .btn-scroll {
    position: absolute;
    display: block;
    left: 50%;
    bottom: 12px;
    margin-left: -16px;
    z-index: 100;
    color: lighten($text-color, 10%);
  }
}
@media(max-width: $screen-xs-max) {
  #masthead {
    h1 {
      line-height: $headings-line-height - 0.3;
      font-size: $font-size-h1;
    }
    p { font-size: $font-size-small; }
  }
}
@media(max-height: 479px) {
  #masthead { height: 100%; }
}
@media(min-height: 480px) and (max-height: 639px) {
  #masthead { height: 70%; }
}
@media(min-width: $screen-md-min) {
  #masthead {
    .inner { text-align: right; }
    &.full .inner { text-align: center; }

    .line { margin: 8px 4px 18px auto; }
  }
}

/*
==============================

  MAIN

==============================
*/
#main {
  background-color: darken($white, 5%);
}

/*
==============================

  FOOTER

==============================
*/
footer {
  padding: 50px 30px;
  border-top: 1px solid #d8dadc;
  line-height: 24px;

  p, ul.list-inline {
    margin: 0;
    padding: 0;
  }

  .copyright {
    letter-spacing: 3px;
    font-size: $font-size-small;
    text-transform: uppercase;
  }
}
@media(max-width: $screen-xs-max) {
  footer {
    text-align: center;

    .social-media { padding-top: 20px; }
  }
}
@media(min-width: $screen-sm-min) {
  footer {
    .social-media {
      text-align: right;
    }
  }
}

/*
==============================

  BACK TO TOP

==============================
*/
#back-to-top {
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: $black;
  color: $white;
  z-index: 99;
  display: none;
  transition: background .215s ease-in-out;

  &:hover { background-color: $brand-primary; }

  i {
    font-size: $font-size-h1;
    padding: 15px 20px 20px;
    cursor: pointer;
  }
}

/*
==============================

  FILTER

==============================
*/
#filter .list-inline {
  font-family: $headings-font-family;
  padding: 28px 0 20px;

  li {
    font-size: $font-size-small + 1;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 0 10px 8px 0;

    &:first-child { font-weight: 400; }
    &.divider { padding-right: 5px; }

    a.active { color: $brand-primary; }
  }
}

/*
==============================

  ISOTOPE

==============================
*/
/* ISOTOOPE */
.isotope {
  transition-property: height, width;

  .isotope-item {
    transition-property: transform, opacity;
  }

  &, .isotope-item {
    transition-duration: 0.85s;
  }
}
.isotope-item { z-index: 2; }
.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

#isotope-grid {
  h4 { font-size: $font-size-base; }
  p {
    font-size: $font-size-small;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  i { padding-right: 3px; }

  .thumbnail:hover {
    transition: background .5s ease-in-out;
    background-color: $black;
    color: $white;

    a, .caption { color: $white; }

    .hover { opacity: 1; }
  }
}
.schedule #isotope-grid {
  .thumbnail { padding:10px 20px; }
}

/*
==============================

  AREAS

==============================
*/
#filmography-post {
  .img-responsive { width: 100%; }
}
#event-post {
  .dl-horizontal {
    margin: 0;

    dt { width: 115px; }
    i { width: 15px; }
  }

  #map {
    width: 100%;
    height: 500px;
  }
}

@media(min-width: $screen-md-min) {
  #call-to-action {
    h3 { margin-top: 11px; }
    .btn { float: right; }
  }

  #video-post, #filmography-post, #event-post {
    .details {
      padding-left: 40px;

      h2 { margin-top: 0; }
    }
  }
  #event-post {
    .details { padding-right: 40px; }
  }
}

/*
==============================

  INTRO

==============================
*/
@media(max-width: $screen-xs-max) {
  #intro {
    h2 { font-size: $font-size-h4; }
  }
}


/*
==============================

  INSTAFEED

==============================
*/

#instafeed .item {
  padding-left: 0;
  padding-right: 0;

  h3, h4 {
    color: $white;
    font-weight: 400;
    margin: 0 0 0 3px;
  }
  h3 { font-size: $font-size-base - 2; }
  h4 { font-size: $font-size-small; }

  .line { background-color: $white; }
}

@media(max-width: $screen-xs-max) {
  #instafeed .item {
    h4 { font-size: $font-size-base; }
  }
}

@media(min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  #instafeed .item {
    &:last-child { display: none; }
  }
}


/*
==============================

  CONTACT FORM

==============================
*/
#contactform {
  .side {
    padding-left: 40px;
    font-size: $font-size-base - 2;

    h5:first-child { margin-top: 0; }
  }
  .section {
    margin: 0 0 20px;
    border-bottom: 1px solid #dfdfdf;
  }

  ul.list-inline { padding: 0; }

  label {
    font-size: $font-size-small;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
}

@media(max-width: $screen-sm-max) {
  #contactform {
    .side {
      text-align: center;
      padding-bottom: 40px;
    }
  }
}