---
layout: base
---
<section id="video-post" class="default-padding">
  <div class="container">
    <div class="row">
      <div class="col-sm-7">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe id="ytplayer" type="text/html" width="640" height="360"
  src="https://www.youtube.com/embed/{{ page.videoID }}?color=white&rel=0&showinfo=0" frameborder="0"></iframe>
        </div>
      </div>
      <div class="details col-sm-5">
        <h2>{{ page.title }}</h2>
        <h6>{{ page.date | date: "%B %e, %Y" }}</h6>
        <span class="line left"></span>
        <p class="small-padding">{{ page.description }}</p>
      </div>
    </div>
  </div>
</section>

{% include call-to-action.html %}