---
title:      聯絡
subtitle:   取得聯繫！
nav:        6
---
<section class="default-padding white">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h2 class="text-center">留言給我們</h2>
        <span class="line"></span>
        <p>你想送李施嬅粉絲的郵件？你有電影，採訪或其他工作諮詢嗎？還是只想跟網站後面的管理員打招呼？給我們留言！ 如有必要，我們會將你的電子郵件轉發給正確的人，你將在一周內收到答复。<p>
      </div>
    </div>
    <div class="text-center">
      <a href="#contactform" class="btn-scroll">
        <i class="fa fa-angle-down animated"></i>
      </a>
    </div>
  </div>
</section>

<section id="contactform" class="default-padding">
  <div class="container">
   <div class="row">

      <div class="side col-md-4 col-md-push-8 col-lg-3 col-lg-push-9">
        <div class="section">
          <h5>電子郵件地址</h5>
          <p>selena.li.official [@] gmail.com</p>
        </div>

        <div class="section">
            <h5>社交媒體</h5>
            <label>施嬅的帳戶</label>
             {% include social-media.liquid %}

            <label>粉絲會的帳戶</label>
             {% include social-media.liquid account="fanclub" %}
        </div>
      </div>

      <div class="col-md-8 col-md-pull-4 col-lg-9 col-lg-pull-3">
        <form method="POST" action="//formspree.io/selena.li.official@gmail.com" class="form-horizontal" role="form">
            <div class="form-group">
              <label for="name" class="col-sm-2 control-label">你的名字</label>
              <div class="col-sm-10">
                <input type="text" id="name" name="name" class="form-control">
              </div>
            </div>

            <div class="form-group">
              <label for="email" class="col-sm-2 control-label">你的郵件地址</label>
              <div class="col-sm-10">
                <input type="email" id="email" name="_replyto" class="form-control">
              </div>
            </div>

            <div class="form-group">
              <label for="category" class="col-sm-2 control-label">訊息類型</label>
              <div class="col-sm-10">
                <select id="category" name="category" class="form-control">
                  <option>粉絲郵件</option>
                  <option>工作</option>
                  <option>網站</option>
                  <option>其他</option>
                </select>
              </div>
            </div>

            <div class="form-group">
              <label for="subject" class="col-sm-2 control-label">主題</label>
              <div class="col-sm-10">
                <input type="text" id="subject" name="subject" class="form-control">
              </div>
            </div>

            <div class="form-group">
              <label for="message" class="col-sm-2 control-label">你的信息</label>
              <div class="col-sm-10">
                <textarea id="message" name="message" class="form-control" rows="15"></textarea>
              </div>
            </div>

            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" value="發信息" class="btn btn-primary">
              </div>
            </div>

            <input type="hidden" name="_subject" value="Selena-Lee.com New Message" />
            <input type="text" name="_gotcha" class="hidden" />
        </form>
      </div>

    </div>
   </div>
</section>