---
title:      About Selena
subtitle:   This is who she is
---
<section class="default-padding white">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h2 class="text-center">Biography</h2>
        <span class="line"></span>
        <p><strong>Selena Lee</strong> (李施嬅, previously known as 李詩韻), is born on February 12th, 1981 in Hong Kong, China. When she was six, her family emigrated to Toronto, Canada. After graduating from high school, Selena attended the University of Toronto studying for a Bachelor of Commerce (BComm) degree in Accounting.</p>
        <p>In 2003, she interrupted her studies to participate in that year&#39;s Miss Hong Kong Pageant as an overseas contestant, and won the <em>Miss Talent</em> Award and <em>Miss Photogenic</em> Award. She became the first Miss photogenic Award winner in the history of the pageant who did not enter the final top five. Afterwards, she signed a contract with Television Broadcasts Limited (TVB), the largest free-to-air TV broadcaster in Hong Kong, and began her career as one of their managed artistes.</p>
      </div>
    </div>
    <div class="text-center">
      <a href="#timeline" class="btn-scroll">
        <i class="fa fa-angle-down animated"></i>
      </a>
    </div>
  </div>
</section>

<section id="timeline" class="small-padding">
  <div class="container">
    <h4 class="text-center">Her career</h4>

    <div class="timeline">
      {{#eachIndex timeline}}
      <div class="timeline-block">
        <div class="timeline-img round">
          <img src="assets/uploads/about-timeline-{{index}}.jpg" alt="">
        </div>
        <div class="timeline-content">
        {{#item}}
          <p>{{{description}}}</p>
          <div class="cd-info">
            <h6>{{time}}</h6>
            <div class="biz-title">{{subtime}}</div>
          </div>
        {{/item}}
        </div>
      </div>
      {{/eachIndex}}
    </div>

  </div>
</section>