---
title:      <%= site.schedule.title %>
subtitle:   <%= site.schedule.subtitle %>
---
<section id="isotope-grid" class="default-padding">
  <div class="container">
    <div class="row">

      {{#withSort schedule "date" dir="desc"}}
        <div class="col-md-6">
          <div class="thumbnail">
            <h4><a href="schedule/{{slugify title}}.html">{{title}}</a></h4>
            <p><i class="fa fa-calendar"></i> {{formatDate date "%B %e, %Y"}}</p>
            <p><i class="fa fa-map-marker"></i> {{venue}}</p>
          </div>
        </div>
      {{/withSort}}

    </div>
  </div>
</section>