/*-----------------------------------------------------------------------------------*/
/* COMPONENTS
/*-----------------------------------------------------------------------------------*/

/*
==============================

  GRID

==============================
*/
.container {
  @media (min-width: 1025px) { width: 1024px; }
}

/*
==============================

  NAVBAR

==============================
*/
.navbar {
  font-family: $headings-font-family;
  transition: background .5s ease-in-out, padding .5s ease-in-out;

  li > a {
    font-size: $font-size-small + 1;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: background .3s ease-in-out;
  }

  .navbar-brand {
    img {
      max-height: 40px;
      transition: opacity .3s ease-in-out;

      &:hover { opacity: .5; }
    }
  }

  .navbar-toggle {
    border-radius: 0;

    i { font-size: $font-size-h2; }
  }

}
@media(min-width: $grid-float-breakpoint) {
  .navbar {
    padding: 25px 0;

    .navbar-brand { padding: 8px 15px; }
  }
}
@media(max-width: $grid-float-breakpoint-max) {
  .navbar {
    .collapse.in { border-top: 1px solid #CAD4DD; }
  }
  .navbar-nav {
    margin-top: 0;
    margin-bottom: 0;
  }
}
.top-nav-collapse {
  padding: 0;
  background-color: $white;
  border-bottom: 1px solid #CAD4DD;
  box-shadow: 0 1px 3px fade($black, 10%);
}


/*
==============================

  BUTTONS

==============================
*/
.btn {
  font-family: $headings-font-family;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-width: 2px;
  transition: all .3s ease-in-out;

  &-default:hover, &-default.active, &-default.active:hover {
    background-color: $brand-primary;
    color: $white;
    border-color: $brand-primary;
  }
  &-primary:hover {
    background-color: $white;
    color: $brand-primary;
    border-color: $brand-primary;
  }
}

/*
==============================

  BREADCRUMBS

==============================
*/
.breadcrumb {
  margin-bottom: 0;
  font-family: $headings-font-family;


  li {
    font-size: $font-size-small + 1;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;

    &:first-child { font-weight: 400; }
    &.divider { padding-right: 5px; }

    a.active { color: $brand-primary; }
  }
}


/*
==============================

  TABS

==============================
*/
.nav-tabs {
  font-family: $headings-font-family;

  li {
    font-size: $font-size-small + 1;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;

    > a { padding: 12px 30px; }
  }
}
.tab-content {
  background-color: $white;
  padding: 25px;
}


/*
==============================

  HORIZONTAL LIST

==============================
*/
dl {
  margin-bottom: 0;
}

.dl-horizontal {
  dt { width: 140px; }
}

@media(min-width: $screen-sm-min) {
  .dl-horizontal {
    dt { text-align: left; }
    dd { margin-left: 0; }
  }
}


/*
==============================

  WELLS

==============================
*/
.well {
  padding: 0;
  box-shadow: 0 5px #dfdfdf;
  border: none;
}
.well-lg {
  .caption { padding: 20px; }
  .dl-horizontal { margin-top: 25px; }
}
.well-sm {
  font-size: $font-size-base - 2;
  margin: 25px auto;

  .caption { padding: 10px; }
}