---
title:      Beauty
subtitle:   Make-up tutorials and tips
nav:        3

script:     isotope
---
{% include call-to-action.html %}

<section id="isotope-grid" class="default-padding">
  <div class="container">
    <div class="row">

      {% for i in site.beauty %}
      <div class="col-xs-12 col-sm-6 col-md-4">
        <figure class="thumbnail">
          <div class="item">
            <div class="hover">
              <a href="{{ i.url }}">
                <span class="block text-center">
                  <i class="fa fa-plus"></i>
                </span>
              </a>
            </div>
            {% assign shot = i.slug | prepend: 'beauty-video-' | append: '.jpg' %}
            <img src="{{ shot | asset_path }}" class="img-responsive" alt="{{ i.title }}">
          </div>
          <figcaption class="caption">
            <h4><a href="{{ i.url }}">{{ i.title }}</a></h4>
            <p>{{ i.date | date: "%B %e, %Y" }}</p>
          </figcaption>
        </figure>
      </div>
      {% endfor %}

    </div>
  </div>
</section>