---
title:      Welcome to Selena Lee Official Website
subtitle:   Actress / Host / Enterpreneur / Beauty Guru

full:       true
script:     instafeed
home:       true
---
<section id="intro" class="large-padding white">
  <div class="container text-center">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h2>Selena Lee Sze-Wah is a Chinese-Canadian award-winning artiste based in Hong Kong, most commonly known for her performances in TVB television dramas.</h2>
      </div>
    </div>
  </div>
</section>

<section id="isotope-grid" class="default-padding">
  <div class="container">
    <h3>Latest dramas</h3>
    <div class="row">

      {% assign dramas = (site.filmography | sort: 'broadcaststart') | reverse %}
      {% for i in dramas limit:4 %}
      <div class="col-md-3 col-sm-4 col-xs-12 {{ i.genre }}">
        <figure class="thumbnail">
          <div class="item">
            <div class="hover">
              <a href="{{ i.url }}">
                <span class="block text-center">
                  <i class="fa fa-plus"></i>
                </span>
              </a>
            </div>
            <img src="{{ "assets/uploads/thumb/" | relative_url }}filmography-poster-{{ i.slug }}.jpg" class="img-responsive" alt="{{ i.title }}">
          </div>
          <figcaption class="caption">
            <h4><a href="{{ i.url }}">{{ i.title }}</a></h4>
            <p>{{ i.fullname }}</p>
          </figcaption>
        </figure>
      </div>
      {% endfor %}

    </div>
  </div>
</section>

<section class="no-padding">
  <div class="container-fluid">
    <div id="instafeed" class="row"></div>
  </div>
</section>

<section id="isotope-grid" class="default-padding">
  <div class="container">
    <div class="row">

      <div class="col-md-6">
        <h3>Functions and Events</h3>

        {% assign events = site.schedule | reverse %}
        {% for i in events limit:2 %}
          <div class="thumbnail">
            <div class="row">
              <div class="col-md-4">
                <img src="{{ "assets/uploads/" | relative_url }}schedule-{{ i.slug }}.jpg" class="img-responsive" width="100%" height="100%" alt="{{ i.title }}">
              </div>
              <div class="col-md-8">
                <h4><a href="{{ i.url }}">{{ i.title }}</a></h4>
                <p><i class="fa fa-calendar"></i> {{ i.date | date: "%B %e, %Y"}}</p>
                <p><i class="fa fa-map-marker"></i> {{ i.venue }}</p>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>

      <div class="col-md-6">
        <h3>From the Press</h3>

        {% assign news = site.press | reverse %}
        {% for i in news limit:3 %}
          <div class="row">
            <div class="col-md-3">
              <h6>{{ i.date | date: "%B %e, %Y" }}</h6>
            </div>
            <div class="col-md-9">
              <h4><a href="{{ i.url }}">{{ i.title }}</a></h4>
            </div>
          </div>
        {% endfor %}
      </div>

    </div>
  </div>
</section>