---
title:      Welcome to Selena Lee Official Website
subtitle:   Actress / Host / Enterpreneur / Beauty Guru

full:       true
home:       true
---
<section id="intro" class="large-padding white">
  <div class="container text-center">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h2>Selena Lee Sze-Wah is a Chinese-Canadian award-winning artiste based in Hong Kong, most commonly known for her performances in TVB television dramas.</h2>
      </div>
    </div>
  </div>
</section>

<section class="grid-area default-padding">
  <div class="container">
    <h3>Latest dramas</h3>
    <div id="dramas" class="row">
      {% include item-filmography.html limit="4" %}
    </div>
  </div>
</section>

<section class="no-padding">
  <div class="container">
    <h3>Facebook updates</h3>
  </div>
  <div class="container-fluid">
    <div id="fbfeed" class="row"></div>
  </div>
</section>

<section class="grid-area default-padding">
  <div class="container">
    <h3>Recent functions</h3>
    <div id="events" class="row">
      {% include item-schedule.html limit="4" %}
    </div>
  </div>
</section>

<section class="grid-area default-padding">
  <div class="container">
    <div class="row">

      <div class="col-sm-7">
        <h3>From the Press</h3>
        {% include item-press.html limit="4" %}
      </div>

      <div class="col-sm-5">
        <h3>Featured video</h3>
        {% include item-beauty.html limit="1" %}
      </div>

    </div>
  </div>
</section>