{% assign num = include.limit %}

{% for i in site.beauty limit:num %}
<div class="{% unless num %}col-sm-6 col-md-4{% endunless %}">
  <figure class="thumbnail">
    <div class="item">
      <div class="hover">
        <a href="{{ i.url }}">
          <span class="block text-center">
            <i class="fa fa-plus"></i>
          </span>
        </a>
      </div>
      <img src="{{ site.baseurl }}/assets/uploads/beauty-video-{{ i.slug }}.jpg" class="img-responsive" alt="{{ i.title }}">
    </div>
    <figcaption class="caption">
      <h4><a href="{{ i.url }}">{{ i.title }}</a></h4>
      <p>{{ i.date | date: "%B %e, %Y" }}</p>
    </figcaption>
  </figure>
</div>
{% endfor %}