{% unless include.related %}{% assign events = site.schedule | reverse %}{% endunless %}
{% assign num = include.limit %}

{% for i in events limit:num %}
<div class="col-md-6">
  <figure class="thumbnail">
    <div class="row">

      <div class="col-sm-4">
        <div class="item">
          <div class="hover">
            <a href="{{ i.url }}">
              <span class="block text-center">
                <i class="fa fa-plus"></i>
              </span>
            </a>
          </div>
          {% if i.image %}
            <img src="{{ site.baseurl }}/assets/uploads/schedule-{{ i.slug }}.jpg" class="img-responsive" width="100%" height="100%" alt="{{ i.title }}">
          {% else %}
            <img src="http://placehold.it/200" width="100%" height="100%">
          {% endif %}
        </div>
      </div>

      <div class="col-sm-8">
        <figcaption>
          <h4><a href="{{ i.url }}">{{ i.title }}</a></h4>
          <p><i class="fa fa-calendar"></i> {{ i.date | date: "%B %e, %Y"}}</p>
          <p><i class="fa fa-map-marker"></i> {{ i.venue }}</p>
        </figcaption>
      </div>

    </div>
  </figure>
</div>
{% endfor %}